<!DOCTYPE html>
<html lang="en">
<% include ../partials/header %>

<style>
.content{
  margin: 5px;
}

</style>

<body>
  <div class="content">
    <form method="get" action="/bus_search_form">
      <h1>Try it yourself</h1>
      Destination:<input class="typeahead tt-query" spellcheck="false" autocomplete="off" name="to_location" type="text" /><br>
      From:<input class="typeahead tt-query" spellcheck="false" autocomplete="off" name="from_location" type="text" /><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</body>

<% include ../partials/footer %>

</html>
