<!DOCTYPE html>
<html lang="en">
<% include ../partials/header %>

<body>
  <div class="content">
    <form>
      <h1>Try it yourself</h1>
      <input class="typeahead tt-query" spellcheck="false" autocomplete="off" name="typeahead" type="text" />
    </form>
  </div>
</body>

<% include ../partials/footer %>

</html>
